---
import HomeLayout from '../layouts/HomeLayout.astro';
import HeroSection from './home/sections/hero.astro';
import CreeksideDifference from './home/sections/the-creekside-difference.astro';
import OurPillars from './home/sections/our-pillars.astro';
import CommunityPartners from './home/sections/community-partners.astro';
import NavigationGrid from './home/sections/navigation-grid.astro';
import Testimonials from './home/sections/testimonials.astro';
import CommunityImage from './home/sections/community-image.astro';
---

<HomeLayout title="Home - The Creekside School">
  <div class="animate-fade-in font-sans">
    <HeroSection />
    <CreeksideDifference />
    <OurPillars />
    <CommunityPartners />
    <NavigationGrid />
    <Testimonials />
    <CommunityImage />
  </div>
</HomeLayout>
