---
import HomeLayout from '../layouts/HomeLayout.astro';
import HeroSection from '../sections/home/HeroSection.astro';
import CreeksideDifference from '../sections/home/CreeksideDifference.astro';
import OurPillars from '../sections/home/OurPillars.astro';
import CommunityPartners from '../sections/home/CommunityPartners.astro';
import NavigationGrid from '../sections/home/NavigationGrid.astro';
import Testimonials from '../sections/home/Testimonials.astro';
import CommunityImage from '../sections/home/CommunityImage.astro';
---

<HomeLayout title="Home - The Creekside School">
  <div class="animate-fade-in font-sans">
    <HeroSection />
    <CreeksideDifference />
    <OurPillars />
    <CommunityPartners />
    <NavigationGrid />
    <Testimonials />
    <CommunityImage />
  </div>
</HomeLayout>
