---
import PageLayout from '../../layouts/PageLayout.astro';
import ContactUsBanner from '../../components/ContactUsBanner.astro';
import { ASSETS_BASE_URL } from '../../constants';

const bannerText = {
  imageAlt: 'Creekside School campus',
  headingHighlight: 'The Creekside School',
};
---

<PageLayout title="Contact Us - The Creekside School">
  <div class="animate-fade-in font-sans">
    <ContactUsBanner bannerText={bannerText} backgroundImage={`${ASSETS_BASE_URL}/images/contact-us--banner.jpg`} />
  </div>
</PageLayout>
