---
import PageLayout from '../../layouts/PageLayout.astro';
import JoinOurTeamSection from './_sections/join-our-team.astro';
import ApplyInstructions from './_sections/apply-instructions.astro';
import OpenPositions from './_sections/open-positions.astro';
import { JOIN_TEAM_CONTENT, BENEFITS, OPEN_POSITIONS } from './_constants';
---

<PageLayout title="Join Our Team - The Creekside School">
  <div class="animate-fade-in font-sans">
    <JoinOurTeamSection content={JOIN_TEAM_CONTENT} benefits={BENEFITS} />
    <OpenPositions positions={OPEN_POSITIONS} />
    <ApplyInstructions text="To apply, read through any of the job descriptions listed above and send your resume to " email="jobs@creeksideschool.org" />
  </div>
</PageLayout>
