---
import { COLORS } from '../../../constants';
---

<section
  id="donation-widgets"
  class="donation-widgets-section py-8 lg:py-10 font-sans"
  style={{ backgroundColor: COLORS.cream }}
>
  <div class="container mx-auto px-4 lg:px-8 max-w-3xl">
    <div class="space-y-12">
      <div id="donorbox-embed" class="donation-widget-target flex flex-col items-center" />
      <div id="double-the-donation-embed" class="donation-widget-target flex flex-col items-center" />
    </div>
  </div>
</section>
