---
import HomeLayout from '../../layouts/HomeLayout.astro';
import HeroSection from './sections/hero.astro';
import CreeksideDifference from './sections/the-creekside-difference.astro';
import OurPillars from './sections/our-pillars.astro';
import CommunityPartners from './sections/community-partners.astro';
import NavigationGrid from './sections/navigation-grid.astro';
import Testimonials from './sections/testimonials.astro';
import CommunityImage from './sections/community-image.astro';
---

<HomeLayout title="Home - The Creekside School">
  <div class="animate-fade-in font-sans">
    <HeroSection />
    <CreeksideDifference />
    <OurPillars />
    <CommunityPartners />
    <NavigationGrid />
    <Testimonials />
    <CommunityImage />
  </div>
</HomeLayout>
